/* FONTS */
@font-face {
  font-family: lineto-circular-pro-book;
  src: url(./fonts/lineto-circular-pro-book.ttf);
}
@font-face {
  font-family: lineto-circular-pro-bold;
  src: url(./fonts/lineto-circular-pro-bold.ttf);
}
@font-face {
  font-family: lineto-circular-black;
  src: url(./fonts/lineto-circular-black.ttf);
}

/* MAIN */

.container {
  margin-bottom: 100px;
}

h1,
h2,
h3 {
  color: white;
  font-family: lineto-circular-black, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

div,
h6,
h5,
p {
  color: white;
  font-family: lineto-circular-pro-book, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* BUTTONS */
:root {
  --navbar-black: #040404;
  --background-black: #121212;
  --miniplayer-grey: #282828;
  --selected-grey: #2a2a2a;
  --timeline-grey: #5a5a5a;
  --under-grey: #969696;
  --green: #1db954;
  --green-hover: #1ed760;
}

/* BACKGROUND */
.navbar-spoti {
  background-color: var(--navbar-black);
}

/* BUTTONS */
button.btn-spoti,
a.btn-spoti {
  font-family: lineto-circular-pro-bold;
  font-size: 20px;
  width: 250px;
  color: white;
  background-color: var(--green);
  border-radius: 30px;
}

button.btn-spoti:hover,
a.btn-spoti:hover {
  color: white;
  background-color: var(--green-hover);
}

button.btn-spoti-clear {
  font-family: lineto-circular-pro-bold;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  width: 220px;
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid white;
}

button.btn-spoti-clear:hover {
  color: white;
  background-color: rgb(0, 0, 0, 1);
}

h3 > a,
p > a {
  color: var(--green);
}

h3 > a:hover,
p > a:hover {
  color: var(--green-hover);
}

/* TEXT */
div > p,
div > h5,
div > h6 {
  margin: 0px;
}

div.mini-player-text > div > h5 > a {
  font-size: 14px;
  color: white;
}

div.result-info > p,
div.mini-player-text > div > h6 > a {
  font-size: 13px;
  color: var(--under-grey);
}

/* RESULTS */
div.result:hover,
div.track:hover {
  cursor: pointer;
  background-color: var(--selected-grey);
}

div.results {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

div.track,
div.result {
  border-top: solid 1px white;
  align-items: center;
}

div.artist-info > h1 {
  margin-bottom: 20px;
}

.green {
  color: var(--green);
}

/* MINI-PLAYER */
.mini-player {
  border-top: solid 1px black;
  background-color: var(--miniplayer-grey);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* button.more {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: white;
  cursor: pointer;
} */
